<!DOCTYPE html>
<!-- vim: set tabstop=2 shiftwidth=2 softtabstop=2 expandtab : -->
<html lang="en">
  <head>
    <title>YNAB CSV Converter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha512-ubuT8Z88WxezgSqf3RLuNi5lmjstiJcyezx34yIU2gAHonIi27Na7atqzUZCOoY4CExaoFumzOsFQ2Ch+I/HCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="./app.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js" integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script src="src/data_object.js"></script>
    <script src="src/app.js"></script>
    <script src='https://js.sentry-cdn.com/9984f4ed07f54d7ca6107525f0d990a1.min.js' crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNWHWW4QYB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-ZNWHWW4QYB');
    </script>
  </head>
  <body
    ng-controller="ParseController"
    ng-class="{angular_loaded: angular_loaded}"
  >
    <div id="header_nav" class="show_on_load">
      <div class="container">
        <div class="float-right" ng-if="data_object.base_json">
          <div class="btn btn-info" ng-click="reloadApp()">
            <i class="fa fa-refresh"></i> Load a different file
          </div>
          <div class="btn btn-success" ng-click="downloadFile()">
            <i class="fa fa-cloud-download"></i> Save YNAB Data
          </div>
        </div>
        <div class="form-inline">
          <a
            href="https://github.com/wzaremba/ynab-csv/issues/new"
            target="_blank"
            class="btn btn-secondary"
            ><i class="fa fa-exclamation-circle"></i> Report an issue</a
          >
        </div>
      </div>
    </div>

    <div dropzone="data.source" encoding="{{file.chosenEncoding}}" delimiter="{{file.chosenDelimiter}}">
      <div class="container mx-auto show_on_load" style="width: 600px;">
        <br />
        <div id="upload_wrapper" ng-if="!data_object.base_json">
          <div id="drop_text">Drop file</div>
          <form>
            <div class="fileUpload btn btn-info">
              <span>Or choose <i class="fa fa-folder-open"></i></span>
              <input
                id="file"
                type="file"
                fileread="data.source"
                encoding="{{file.chosenEncoding}}"
                delimiter="{{file.chosenDelimiter}}"
              />
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Input file config
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-form p-2">
                  <div class="form-group input-group-sm">
                    <label for="encoding">Character encoding</label>
                    <select
                      id="encoding"
                      ng-model="file.chosenEncoding"
                      ng-options="enc for enc in file.encodings track by enc"
                      ng-click="$event.stopPropagation()"
                      ng-change="encodingChosen(file.chosenEncoding)"
                      class="form-control"
                    >
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="delimiter">Cell delimiter</label>
                    <select
                      id="delimiter"
                      ng-model="file.chosenDelimiter"
                      ng-options="enc for enc in file.delimiters track by enc"
                      ng-click="$event.stopPropagation()"
                      ng-change="delimiterChosen(file.chosenDelimiter)"
                      class="form-control"
                    >
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="start_row">Start at row</label>
                    <input
                      id="start_row"
                      type="number"
                      min="1"
                      ng-model="file.startAtRow"
                      ng-change="startRowSet(file.startAtRow)"
                      class="form-control"
                    >
                    </select>
                  </div>   
                  <div class="form-check" style="margin-bottom: 12px;">
                    <input
                        id="extra_row"
                        type="checkbox"
                        ng-model="file.extraRow"
                        ng-change="extraRowSet(file.extraRow)"
                        class="form-check-input"
                        value=""
                    >
                    <label for="extra_row" class="form-check-label">Fill header row from first line</label>
                  </div>           
                  <div class="form-group" ng-if="nonDefaultProfilesExist()">
                    <label for="profile">Bank profile</label>
                    <select
                      id="profile"
                      name="ngvalueselect"
                      ng-model="profileName"
                      class="form-control"
                      ng-click="$event.stopPropagation()"
                      ng-change="profileChosen(profileName)">
                        <option ng-repeat="(name,profile) in profiles" ng-value="name">
                          {{name}}
                        </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </form>
        </div>

        <div class="container" id="tool_wrapper" ng-if="data_object.base_json">
          <div class="card">
            <div class="card-header">
              <div class="float-right">
                <div
                  ng-show="ynab_cols.indexOf('Inflow') != -1 && ynab_map['Inflow'] == ynab_map['Outflow']"
                  class="btn btn-outline-secondary"
                  ng-click="invert_flows()"
                >
                  <i class="fa fa-exchange"></i> Invert flows
                </div>
                <div
                  class="btn btn-outline-secondary"
                  ng-click="toggleColumnFormat()"
                >
                  <i class="fa fa-exchange"></i> Toggle column format
                </div>
              </div>
              <h4>YNAB Data <small>(first 10 rows)</small></h4>
              <div class="clearfix"></div>
            </div>
            <div class="table-container">
              <table class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="form-group"
                      ng-repeat="col in ynab_cols"
                    >
                      <label for="id-{{col}}">{{col}}</label>
                      <select
                        class="form-control"
                        id="id-{{col}}"
                        ng-model="ynab_map[col]"
                        ng-options="f for f in data_object.fields()"
                      >
                      <option value="">Choose option</option>
                    </select>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in preview">
                    <td ng-repeat="col in ynab_cols">
                      {{row[col]}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="container" ng-if="data_object.base_json">
          <div class="card">
            <div class="card-header">
              <strong>Imported CSV</strong> <em>(first 10 rows)</em>
            </div>
            <div class="table-container table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th ng-repeat="col in data_object.fields()">{{col}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in data_object.rows() | limitTo:10">
                    <td ng-repeat="col in data_object.fields()">
                      {{row[col]}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="angular_is_loading">
      <div class="loading_text">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>
    </div>
  </body>
</html>
